@font-face{
  font-family: 'poppins';
  src: url('./poppins-v21-latin-400.woff2') format('woff2');
}

body{
  margin: 0;
  padding: 1rem;
  font-family: 'poppins';
}

label,
textarea {
  display: block;
}

textarea{
  font-family: cursive;
  font-size: 1.125rem;
}